USE [master]
GO
/****** Object:  Database [CRMX]    Script Date: 7/25/2017 11:51:06 AM ******/
CREATE DATABASE [CRMX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRMX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CRMX.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CRMX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CRMX_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRMX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRMX]
GO
/****** Object:  View [dbo].[vICILOC]    Script Date: 7/25/2017 11:51:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vICILOC] AS 
select I.ITEMNO AS LOCITEMNO, l.LOCATION, (QTYONHAND - QTYSHNOCST + QTYRENOCST + QTYADNOCST) AS QTYONHAND, QTYCOMMIT, QTYONORDER, QTYSALORDR,TOTALCOST,COST1, COST2, RECENTCOST, LASTCOST,
CASE WHEN (QTYONHAND)  > 0 THEN 
	CAST(TOTALCOST / (QTYONHAND)  AS DECIMAL(13,2)) 
ELSE 0 END AS UNITCOST,
V1.VENDNUM AS V1_VENDNUM,V1.VENDNAME AS V1_VENDNAME, V1.COSTUNIT AS V1_COSTUNIT, ISNULL(V1.VENDCOST,0) AS V1_VENDCOST,
V2.VENDNUM AS V2_VENDNUM,V2.VENDNAME AS V2_VENDNAME, V2.COSTUNIT AS V2_COSTUNIT, ISNULL(V2.VENDCOST,0) AS V2_VENDCOST,
V3.VENDNUM AS V3_VENDNUM,V3.VENDNAME AS V3_VENDNAME, V3.COSTUNIT AS V3_COSTUNIT, ISNULL(V3.VENDCOST,0) AS V3_VENDCOST


from SAMINC.dbo.ICITEM I 
INNER JOIN SAMINC.dbo.ICILOC L ON L.ITEMNO = I.ITEMNO
INNER JOIN SAMINC.dbo.ICLOC ll on ll.LOCATION = l.LOCATION and ll.LOCTYPE = 0
LEFT OUTER JOIN SAMINC.dbo.ICITMV V1 ON V1.ITEMNO = I.ITEMNO AND V1.VENDTYPE = 1
LEFT OUTER JOIN SAMINC.dbo.ICITMV V2 ON V2.ITEMNO = I.ITEMNO AND V2.VENDTYPE = 2
LEFT OUTER JOIN SAMINC.dbo.ICITMV V3 ON V3.ITEMNO = I.ITEMNO AND V3.VENDTYPE = 3



GO
/****** Object:  View [dbo].[vITEMS]    Script Date: 7/25/2017 11:51:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vITEMS] AS
SELECT RTRIM(i.ITEMNO) AS ITEMNO, FMTITEMNO, [DESC] AS ITEMDESC, INACTIVE, DATEINACTV,rtrim(CATEGORY) as CATEGORY,STOCKUNIT, STOCKITEM,DEFPRICLST, ISNULL(P.UNITPRICE,0) AS DEFUNITPRICE, UNITWGT,PICKINGSEQ, COMMENT1, COMMENT2,COMMENT3, COMMENT4,COMMODIM,SELLABLE,KITTING,
(SELECT VALUE FROM SAMINC.dbo.ICITEMO  WHERE OPTFIELD = 'COLOR' AND ITEMNO = I.ITEMNO) AS COLOR,
(SELECT CAST(CAST(VALUE AS INT) AS BIT) FROM SAMINC.dbo.ICITEMO  WHERE OPTFIELD = 'DANGEROUS   ' AND ITEMNO = I.ITEMNO) AS DANGEROUS,
(SELECT CAST(CAST(VALUE AS INT) AS BIT) FROM SAMINC.dbo.ICITEMO  WHERE OPTFIELD = 'EXTWARRANTY ' AND ITEMNO = I.ITEMNO) AS EXTWARRANTY,
(SELECT VALUE FROM SAMINC.dbo.ICITEMO  WHERE OPTFIELD = 'ITEMTYPE' AND ITEMNO = I.ITEMNO) AS ITEMTYPE ,
RTRIM(i.AUDTORG) AS AUDTORG     
         
 FROM SAMINC.dbo.ICITEM I
 LEFT OUTER JOIN  SAMINC.dbo.ICPRICP P on p.ITEMNO = i.ITEMNO AND P.PRICELIST = DEFPRICLST AND DPRICETYPE = 1


GO
/****** Object:  View [dbo].[vICPRICECOST]    Script Date: 7/25/2017 11:51:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vICPRICECOST] AS
select P.UNITPRICE, P.PRICELIST, I.*, L.*

from SAMINC.dbo.ICPRICP P
INNER JOIN vITEMS I ON I.ITEMNO = P.ITEMNO
INNER JOIN vICILOC L ON L.LOCITEMNO = I.ITEMNO


WHERE DPRICETYPE = 1 
GO
/****** Object:  View [dbo].[vITEMSPRICECOST]    Script Date: 7/25/2017 11:51:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vITEMSPRICECOST] AS
SELECT * FROM vITEMS I
LEFT JOIN (
select LOCITEMNO AS ITEM,
SUM(QTYONHAND) AS QTYONHAND,
SUM([QTYCOMMIT]) AS [QTYCOMMIT],
SUM([QTYONORDER]) AS [QTYONORDER],
SUM([QTYSALORDR]) AS [QTYSALORDR],
SUM([TOTALCOST]) AS [TOTALCOST],
AVG([COST1]) AS [AVGCOST1],
AVG([COST2]) AS [AVGCOST2],
AVG([RECENTCOST]) AS [AVGRECENTCOST],
AVG([LASTCOST]) AS [AVGLASTCOST],
AVG([V1_VENDCOST]) AS [AVGV1_VENDCOST],
AVG([V2_VENDCOST]) AS [AVGV2_VENDCOST],
AVG([V3_VENDCOST]) AS [AVGV3_VENDCOST]

 from vICILOC group by LOCITEMNO) COST ON COST.ITEM = I.ITEMNO



GO
/****** Object:  View [dbo].[vICHIST]    Script Date: 7/25/2017 11:51:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vICHIST] AS
select H.FISCYEAR, H.FISCPERIOD, 
CASE WHEN LEN(TRANSDATE) = 8 THEN CAST(CAST(TRANSDATE AS VARCHAR) AS DATE) ELSE NULL END as TRANSDATE,
AUDTUSER, DOCNUM, app, TRANSTYPE,QUANTITY,UNIT,HOMEEXTCST,LOCATION, i.*
 from SAMINC.dbo.ICHIST H
INNER JOIN vITEMS I ON I.ITEMNO = H.ITEMNO
GO
/****** Object:  View [dbo].[vCATEGORIES]    Script Date: 7/25/2017 11:51:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCATEGORIES] AS 
SELECT rtrim(CATEGORY) as CATEGORY, RTRIM([DESC]) AS CATDESC FROM SAMINC.dbo.ICCATG WHERE INACTIVE = 0
GO
USE [master]
GO
